/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/* MY CODE STARTS HERE */
/********************************************************
*                     VARIABLES                         *
*********************************************************/
/********************************************************
*                       MIXINS                          *
*********************************************************/
/********************************************************
*                      CONTAINER                        *
*********************************************************/
.resume-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* temporary */
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/********************************************************
*                        HEADER                         *
*********************************************************/
.resume-header {
  height: 15rem;
  background: url(/images/header-img.png);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume-header .name {
  font-family: 'Muli', sans-serif;
  font-size: 5.8rem;
  color: #bb9f02;
}
.resume-header .title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}
/********************************************************
*                    PANEL-CONTAINERS                    *
*********************************************************/
.panel-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.left-panel {
  width: 75%;
  padding: 0 2rem;
  border-right: 1px solid lightgray;
}
.right-panel {
  width: 25%;
  padding: 0 2rem;
}
/********************************************************
*                RESUME SECTIONS (LEFT-PANEL)           *
*********************************************************/
.objective {
  margin-bottom: 2rem;
}
.objective h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.objective p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}
.experience {
  font-size: 1.6rem;
}
.experience > h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.experience header {
  line-height: 2rem;
}
.experience header .role {
  font-family: 'Titillium Web', sans-serif;
  /* add unique font */
}
.experience header .company {
  font-style: italic;
}
.experience ul {
  padding: 1rem 4rem 1rem 4rem;
  font-family: 'Titillium Web', sans-serif;
  list-style: circle inside;
  list-style-position: outside;
}
.experience ul li {
  line-height: 2rem;
  margin-bottom: 1rem;
}
.experience ul li:last-of-type {
  margin-bottom: 0;
}
/********************************************************
*              CONTACT SECTIONS (RIGHT-PANEL)           *
*********************************************************/
